*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #007EA6;
}
.logo{
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}
.logo img{
        
}
h1{
    text-align: center;
    color: white;
    font-weight: 100;
    font-family: sans-serif;
}
form{
    margin: 0 auto;
 max-width:1200px;
    padding-top: 20px;
}
fieldset{
    padding-top: 20px;
    margin: 0 auto;
    height:520px;
    width:35%;
    background-color:white;
    border-color:white;
    border-style: none;
}
input{
    width: 90%;
    margin-left: 19px;
    height: 30px;
    margin-bottom: 15px;

}
span{
    margin-left: 19px;
    opacity: 60%;
    
}
.agree{
    text-align:center;
    width: 90%;
    margin-left:19px;
    color: black;
    opacity:%;
    
    
}
.agree a{
    opacity: 60%;
    text-decoration: none;
    color: black;
}
.agree a:hover{
    color: darkblue;
    opacity: 100%;
}

.sign{
    text-align: center;
}
.join{
    background-color:#20588A;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    height: 35px;
    border-radius:5px;
    cursor:pointer;
}
.or{
    text-align: center;
    color: black;
}
.fb{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMRJ2-j_mmb6GDj-m6U5OClSLYZ2CipXSAASRIgrrtFxTM0y3M&s);
    background-size:contain;
    background-repeat: no-repeat;
    background-color:#385693;
    height:35px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    cursor:pointer;
}
.sign{
    padding-top:5px;
    color: black;
}
.sign a{
    text-decoration: none;
    color: blue;
    opacity: 80%;
    padding-left: 5px;
    cursor:pointer;
    font-weight: 600;
    
}
p{
    text-align: center;
    color: white;
    
}